ul.navbar-nav  {
    position: relative;
    left: 75%;
    transform: translatex(-50%);
}
.navbar-brand{
    font-family: DM Sans', sans-serif;
}
img.logotipohr{ 
    width: 100%; height: auto; 
}
a.nav-link.btn.btn-success.text-white{

    align-items: right;
}