 
<div class="container-fluid px-4 py-5 my-5 text-center">
	<div class="lc-block mb-4">
		<div editable="rich">
			<h2 class="display-2 fw-bold">Bienvenido a Sanar! </h2>
		</div>
	</div>
	<div class="lc-block col-lg-6 mx-auto mb-5">
		<div editable="rich">

			<p class="lead"> BIENESTAR Y SALUD</p>
		</div>
	</div>

	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Registrate</a>
		<a class="btn btn-outline-secondary btn-lg px-4" href="#" role="button">Inicia Sesion</a>
	</div>
	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
		<img class="img-fluid" src="https://lclibrary.b-cdn.net/starters/wp-content/uploads/sites/15/2021/10/undraw_going_up_ttm5.svg" width="" height="783" srcset="" sizes="" alt="">
	</div>
</div>