<div class="container-fluid g-0">
	<div class="row g-0">
		<div class="col-md-12">
			<div class="lc-block overflow-hidden">
				<div style="max-height:40vh" class="ratio ratio-1x1" lc-helper="gmap-embed">
					<iframe src="https://maps.google.com/maps?q=1%20Hacker%20Way%2C%20Menlo%20Park%2C%20CA%2094025%2C%20United%20states&amp;t=m&amp;z=12&amp;output=embed&amp;iwloc=near"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>