<div class="container-fluid g-0">
	<div class="row g-0">
		<div class="col-md-12">
			<div class="lc-block overflow-hidden">
				<div style="max-height:40vh" class="ratio ratio-1x1" lc-helper="gmap-embed">
					<iframe src="https://www.google.com.qa/maps/d/u/0/embed?mid=1LC7XLuyOsCnNLwlpZgYldkiDxBubfa0&ehbc=2E312F"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>